<script src="/assets/scripts.js"></script>
<script src="/assets/jquery.slimscroll.js"></script>
<script src="/assets/jquery.nicescroll.js"></script>

<h1>Admin::Artists#show</h1>
<p>Find me in app/views/admin/artists/show.html.erb</p>
