<footer>
  <div class="footer-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 logo-social">
          <img class="logo-footer" src="/assets/outnabout.png" style="width: 100%;">
          <p>Discover the best events in your city; featuring your concerts of favorite artists, Venues, Weekend getaways, events near you etc just finger tips Away.</p>
          <hr class="logo-line">
          <ul class="social">
            <li class="social-icon-list">
               <a class="icon-link" href="" target="blank">
               <i class="fa fa-facebook" style="font-size:24px;">
               </i>
               </a>
            </li>
            <li class="social-icon-list">
               <a class="icon-link" href="" target="blank">
               <i class="fa fa-twitter" style="font-size: 24px;">
               </i>
               </a>
            </li>
            <li class="social-icon-list">
               <a class="icon-link" href="" target="blank">
               <i class="fa fa-instagram" style="font-size: 24px;">
               </i>
               </a>
            </li>
            <li class="social-icon-list">
               <a class="icon-link" href="" target="blank">
               <i class="fa fa-envelope" style="font-size: 24px;">
               </i>
               </a>
            </li>
            <li class="social-icon-list">
               <a class="icon-link" href="" target="blank">
               <i class="fa fa-skype" style="font-size: 24px;">
               </i>
               </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 15px;">
          <h3 class="blog"><b>Latest Blog</b></h3>
          <div class="event">
            <div class="col-sm-3 image-area">
              <div class="row">
                <a href="">
                  <img style="width:75px;height:70px;" src="http://outnaboutme.com/blog/wp-content/uploads/2017/07/fb_cover_summer_party_v4.png">
                </a>
              </div>
            </div>
            <div class="col-sm-8 event-area">
              <p class="read">Immerse yourself in a full-on wonderland of festivities, dazzling decoration
              </p>
             <p class="posted">Posted by:10 sep 2017</p>
            </div>
          </div>
          <hr class="logo-line2">
          <div class="event">
            <div class="col-sm-3 image-area">
              <div class="row">
                <a href="">
                  <img style="width:75px;height:70px;" src="http://outnaboutme.com/blog/wp-content/uploads/2017/06/13615121_292026537812036_25898716660309208_n.jpg">
                </a>
              </div>
            </div>
            <div class="col-sm-8 event-area">
              <p class="read">Immerse yourself in a full-on wonderland of festivities, dazzling decoration
              </p>
              <p class="posted">Posted by:10 sep 2017</p>
            </div>
          </div>
            <a class="read-more" href="">Read more<span style="color:#00a0a0;"></span></a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
          <h3 class="customer"><b>Customer Service</b></h3>
          <ul>
            <li><a href="" target="_blank">Contact Us</a>
            </li>
            <li>
               <a href="" target="_blank">Help Center</a>
            </li>
            <li>
               <a href="" target="_blank">Submit Event</a>
            </li>
            <li>
               <a href="" target="_blank">Our supporting partners</a>
            </li>
            <li>
               <a href="" target="_blank">Customer Feedback</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-12 col-md-2">
          <h3 class="customer"><b>Contact us</b></h3>
          <div class="clearfix"></div>
          <div class="icon-add">
            <div>
              <p class="support">
                <i class="material-icons pull-left" style="color: #fff;">language</i>
                <span style="padding-left: 5px; font-family: 'Dosis', sans-serif">support@outnabout.co.in</span>
              </p>
            </div>
            <div>
              <p class="support">
                <i class="material-icons pull-left" style="color: #fff;">call</i>
                <span style="padding-left: 5px; font-family: 'Dosis', sans-serif">+712-425212345<br>
                  +919876431456, 978654367</span>
              </p>
            </div>
            <div>
              <p class="support">
                <i class="material-icons pull-left" style="color: #fff;">call</i>
              <span style="padding-left: 5px; font-family: 'Dosis', sans-serif">1048-D, layman Road, Main<br>
                        Elena Bank street, California,USA</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow-container">
      <div class="container">
        <div class="row">
          <div class="footer-nav col-md-12">
            <div class="col-md-8">
              <ul class="footer-events" style="float: left;">
                <li class="events"><a href="">About Us</a></li>
                <li class="events"><a href="<%= today_event_path%>">Today Events</a></li>
                <li class="events"><a href="">Search Events</a></li>
                <li class="events"><a href="">Suggested Events</a></li>
                <li class="events"><a href="" style="border-right: none;">Upcoming Events</a></li>
              </ul>
            </div>
            <div class="col-md-4 footer-logo pull-right">
              <img class="fo-img" src="/assets/img-footer.png" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <p class="footer">All Right Reserved. Designed by
          <a href="http://techindustan.com/" traget="blank">tecHindustan</a>
        </p>
      </div>
    </div>
  </div>
</footer>