<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>
<p><a href="https://fuse2018.herokuapp.com/admin/confirmation?confirmation_token=<%=@token%>">Confirm my account</a></p>
