
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD5HonYNiAnDecD0Xniweaewl6zf__5-s&libraries=places&callback=initAutocomplete" async defer></script>
<%flash[:errors] = resource.errors.full_messages%>
<!-- <h2>Sign up</h2>
<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :user_name %>
          <%#= f.text_field :user_name, placeholder: "User Name", autofocus: true %>
  </div>
        <div class="field">
          <%#= f.label :first_name %>
          <%#= f.text_field :first_name, placeholder: "First Name", autofocus: true %>
        </div>
        <div class="field">
          <%#= f.label :last_name %>
          <%#= f.text_field :last_name, placeholder: "Last Name", autofocus: true %>
        </div>

  <div class="field">
    <%#= f.label :email %>
    <%#= f.email_field :email, placeholder: "Email", autofocus: true %>
  </div>

  <div class="field">
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
    <em>(<%#= @minimum_password_length %> characters minimum)</em>
    <%# end %><br>
    <%#= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %>
    <%#= f.password_field :password_confirmation, autocomplete: "off" %>
  </di#v>

  <div class="actions">
    <%#= f.submit "Sign up" %>
  </div>
<%# end %>
<%#= render "devise/shared/links" %>
 -->
  <div class="registration-form">
    <div class="form-login-user">
        <!-- <form role="form"> -->
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h2 style="text-align: center;">Welcome <small style="color: black">Sign up</small></h2>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <input type="text" name="user[first_name]" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="user[last_name]" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          
        </div> -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                         <input type="text" name="user[user_name]" id="user_name" class="form-control input-lg" placeholder="User Name" tabindex="3" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <div id="locationField">
                <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" name="location[address]" class="form-control input-lg" required >
                         
                </input>
              </div>
              <input type="hidden" id="latitude" class="form-control" name="location[latitude]" value="" placeholder="latitude">
              <input type="hidden" id="longitude" class="form-control" name="location[longitude]" value="" placeholder="longitude"><br>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <input type="email" name="user[email]"  class="form-control input-lg" placeholder="Email Address" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="user[password]" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="user[password_confirmation]" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
            </div>
          </div>
        </div>
        
        <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
            <input type="submit" value="Register" class="btn btn-primary-c btn-block btn-lg"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
            <a href="<%= new_user_session_url%>" class="btn btn-success btn-block btn-lg">Sign In</a></div>
          </div>
        </div>
      </form>
      <%end%>
    </div>
</div>
</div>

<style type="text/css">
  .colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
 
}
.registration-form {
  margin-top: 10%;
  width: 55%;
  margin-left: 243px;
  margin-bottom: 8%;
  border: 2px solid rgba(24, 19, 19, 0.75);
  background-color: #716e77f5;
  
}
.form-login-user {
    margin-left: 45px;
    margin-right: 30px;
    padding-bottom: 4%; 
  }
</style>

